body {
  background-color: #fff3f3;
  font-family: Arial, sans-serif;
  color: #111;
}

button.btn-dark {
  background-color: #1982c4;
  border: 4px solid #000;
  box-shadow: 4px 4px 0 #000;
}

button.btn-dark:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0 #000;
}

.offcanvas {
  background-color: #ffca3a;
  border-left: 6px solid #000;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.bg-light {
  background-color: #ffffff !important;
  border: 4px solid #000;
  box-shadow: 8px 8px 0 #000;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
}

.bg-light:hover {
  background-color: #ffca3a !important;
  cursor: pointer;
}

img {
  border: 4px solid #000;
  box-shadow: 5px 5px 0 #000;
}
